/*
#header {
  padding: 2em 0 0;
}

#header .brand {
  float: left;
  margin: 0 1em 2em 0;
}

#header #site-name-slogan {
  float: left;
  margin: 0 0 2em;
}

#navbar {
  clear: both;
}

#navbar .slogan {
  float: left;
  display: block;
  margin-left:-10px;
  padding: 11px 0px 0px;
  font-size:15px;
  line-height: 1;
}
*/


  /* Override whitespace for pre from bootstrap so it won't break SPARQL flint editor */
  pre{
    white-space:pre;
    word-break:normal;
    word-spacing:0px;
    word-wrap:normal;
    border: none;
    background-color:transparent;
  }
  .pre {
    white-space:pre-wrap;
    word-break:break-all;
  }
body {
    font-size: 12px;
}

/* Fix Toolbar for .navbar-fixed-top */
body.toolbar .navbar-fixed-top {
 top: 30px;
}

body.toolbar-drawer .navbar-fixed-top {
 top: 65px;
}

@media(min-width: 980px) {
  body {padding-top: 60px;}
  body.toolbar { padding-top: 90px !important; }
  body.toolbar-drawer { padding-top: 125px !important; }
}

html.overlay-open .navbar-fixed-top {
  z-index: 200;
}

/* Admin toolbar fix */
body.admin-expanded.admin-vertical.admin-nw .navbar,
body.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}

div#admin-toolbar {
  z-index: 400;
}
div#overlay-container {
 z-index: 1500;
}
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777;
}

/* System base fix */
.container-inline div, .container-inline label {
  display: block;
}

/* Default form fields to auto */
input, textarea, select, .uneditable-input {
  width:auto;
}

/* throbber fix */
html.js input.form-autocomplete {
  background-position: 100% 7px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -13px; /* LTR */
}

.navbar-search .control-group {
  margin-bottom:0px;
}

input.error {
  color: #B94A48;
  border-color: #B94A48;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}
.navbar .brand {
 padding: 3px;
}
.navbar .nav > li > a {
 line-height:39px;
 padding: 8px 10px 8px;
}
.navbar .nav > li > a.inline {
    display:inline-block;
}
.navbar .nav > li > a.dropdown-toggle {
    padding-left:0px;
}
.navbar-search {
 margin-top:15px;
}
.navbar .nav .dropdown-toggle .caret {
 margin-top:18px;
}
/* TEI */
p.stage-italic { 
    color: #51666b;
    font-style: italic;
    margin-top:1em;
    margin-bottom:1em;
}
p.stage { 
    color: #51666b;
    margin-top:1em;
    margin-bottom:1em;
}
span.speaker {
    font-weight: bold
}
br.l {}
p.sp {
    line-height:2em;
}
span.italics {
    font-style: italic
}
span.bold {
    font-weight: bold;
}
.white-well {
    background-color:#FDFDFF;
}
.invisi-well {
  padding: 19px;
}
.annotator-notice-error {
    background-color: #B94A48;
    border-color: #B94A48;
}
.block-title {
    font-size:14px;
}
h1 { font-size: 24px; line-height: 28px; }
h2 { font-size: 20px; line-height: 26px; }
h3 { font-size: 18px; line-height: 22px; }
h4 { font-size: 16px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }
.breadcrumb {
    background-color: transparent;
    margin-left:0;
    padding-left:0;
}
.search-form {
    padding-bottom:1em;
}
.field-name-field-editors {
    margin-bottom:1em;
    font-weight:bold;
}
